body {
  margin: 0;
  background-color: #212122;
  font-family: Helvetica, sans-serif;
  font-weight: 200;
  font-style: normal;
  text-align: center;
}

div {
  background-color: #212122;
}

a:hover {
  color: #dfdfdf;
}
.main-img {
  width: 100%;
}

h2 {
    font-size: 3rem;
    color: #dfdfdf;
}

hr {
    color: #dfdfdf;
    border-style: dotted;
    border-bottom-style: none;
    width: 5%;
    border-width: 5px;
}

.about-section {
  background-color: #212122;
  width: 60%;
  margin: 0 auto;
  padding: 4rem;
  padding-top: 0.5rem;
}

.img-txt {
  left: auto;
  right: auto;
  color: white;
  text-align: left;
  font-size: 1.2rem;
}

.dp {
  height: 160px;
  float: left;
  border-radius: 5%;
  margin-right: 2rem;
}

.header {
  display: inline-block;
  color: gray;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.15rem;
}
.navigation-bar {
  height: 2.5rem;
  text-align: center;
  position: fixed;
  width: 100%;
  opacity: 0.6;
}
#logo {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  position: absolute;
  left: 4rem;
}
#name {
    font-family: serif;
    font-size: 2rem;
}

.performance-section {
    width: 100%;
    text-align: center;
    background-image: url("005.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-section {
  background-color: rgb(82, 82, 82);
  height: 5rem;
}

.video {
  height: 25rem;
  margin: 1rem;
}

.rights {
  color: #dfdfdf;
  padding: 2rem;
}

.nav {
  display: inline-block;
}

#side-drawer {
  background-color: #212122;
  width: 100%;
  height: 100%;
  opacity: 0.95;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

#side-drawer:target {
  display: block;
}

@media (max-width : 768px){
  p {
    font-size: 1rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  #name {
    font-size: 1.2rem;
  }
  .img-txt {
    font-size: 1rem;
    text-align: center;
  }
  .dp {
    float: none;
    height: 200px;
  }
  .about-section {
    text-align: center;
  }
  .nav {
    display: none;
  }
  .menu-btn {
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 2rem;
  }
  .menu-btn span {
    width: 100%;
    height: 3px;
    background-color: #dfdfdf;
  }
}